
button {
	background-color: transparent;
	border: none;
	cursor: pointer;
}

button:focus {
	outline: none;
}

#bg-artwork
{
    position: fixed;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    background-image: url("https://raw.githubusercontent.com/himalayasingh/music-player-1/master/img/_1.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50%;
    filter: blur(60px);
    -webkit-filter: blur(60px);
	z-index: -1;
	transform: scale(1.2);
	opacity:0.5;
}
.asideMenu {
	overflow: hidden;
	width: 30%;
	background-color: #4747471c;
	position: absolute;
	top: 1%;
	bottom: 0;
	right: 0.5%;
	/* border-left: 5px solid #ff9a15; */
	padding: 20px;
	box-shadow: 0 0 10px rgba(23, 23, 54, 0.6);
	transform: translateX(0);
	transition: all 0.5s;
	border-radius: 5px;
}

.asideMenu.active {
	transform: translateX(100%);
}
.hat.active {
	transform: translate(25%,-40%);
	animation: 1.7s hat_out;
	opacity: 0;
}


@keyframes hat_out{
	0% {transform: translate(0%,0%);
		opacity: 1;}
  50% {transform: translate(8%,-7%);
		opacity: 1;}
  100% {transform: translate(25%,-40%);
    opacity: 0;}
}



@keyframes hat_in{
	0% {transform: translate(20%,-25%);
		opacity: 0;}
	25% {transform: translate(10%,-17%);opacity: 0.8;}
  50% {transform: translate(15%,-5%);opacity: 1;}
  100% {transform: translate(0%,0%);}
}

.hat{
	background-image: url(../icons/32/fish_hat.PNG);
	background-size: 40%;
	position: absolute;
	background-repeat: no-repeat;
	background-position: right center;
	width: 100%;
	height: 100%;
	margin-top: -223px;
	margin-left: 57px;
    animation: 2.8s hat_in;
	/* transition: all 0.5s;
	  transition-property: all;
	  transition-duration: 0.5s;
	  transition-timing-function: cubic-bezier(0.17, 0.17, 1, 1.29);
	  transition-delay: 0s; */
  }
  
@media screen and (max-width: 576px) and  (max-height: 500px) {
	.hat{
	  margin-top: -199px;
	  margin-left: 12px;
	  z-index: 3;
	  background-size: 30%;
	}
  }
  @media screen and (min-width: 300px) and (max-width: 400px) and (min-height: 650px) and (max-height: 700px) {
	.hat{
	  margin-top: -199px;
	  margin-left: 6px;
	  z-index: 3;
	  background-size: 30%;
	}
  }
  @media screen and (min-width: 400px) and (max-width: 450px) and (min-height: 700px) and (max-height: 750px) {
	.hat{
	  margin-top: -198px;
	  margin-left: -11px;
	  z-index: 3;
	  background-size: 30%;
	}
  }
  @media screen and (min-width: 350px) and (max-width: 400px) and (min-height: 800px) and (max-height: 850px) {
	.hat{
	  margin-top: -200px;
	  margin-left: 5px;
	  z-index: 3;
	  background-size: 30%;
	}
  }
  
.asideMenu .btn {
	position: absolute;
	top: 50%;
	left: -7%;
	padding: 40px 10px;
	background-color: #ff9a15;
	border-radius: 6px 0 0 6px;
	box-shadow: 0 0 5px rgba(23, 23, 54, 0.6);
}

.asideMenu .btn .fa-chevron-right {
	color: #474747;
	transform: rotate(0);
	transition: all 0.5s;
}

.asideMenu .btn .fa-chevron-right.rotate {
	transform: rotate(180deg);
}

.asideMenu .title {
	font-size: 24px;
	color: #ff9a15;
}

.asideMenu .list {
	display: flex;
}

.asideMenu .list .optionTitle {
	color: #ff9a15;
}

.asideMenu .list .optionList {
	color: #fff;
}

.asideMenu .list .optionTitle,
    .asideMenu .list .optionList {
	display: block;
	padding: 20px;
	line-height: 2;
}

.asideMenu .list .optionTitle .fas,
      .asideMenu .list .optionList .fas {
	color: #fff;
	outline: none;
	border: none;
}


#plList li {
	cursor:pointer;
	display:block;
	margin:0;
	padding:21px 0;
	}
	
	#plList li:hover {
	background-color:rgba(0, 0, 0, .1);
	}
	
	.plItem {
	position:relative;
	}
	
	.plTitle {
	padding-left:3px;
	left:50px;
	overflow:hidden;
	/* position:absolute; */
	right:65px;
	text-overflow:ellipsis;
	top:0;
	/* white-space:nowrap; */
	}
	
	.plNum {
	width:25px;
	}
	
	.plLength {
	padding-left:21px;
	position:absolute;
	right:21px;
	top:0;
	}
	
	.plSel,
	.plSel:hover {
	background-color:rgba(0, 0, 0, .1);
	color:#fff;
	cursor:default !important;
	}
	

	/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
.scrollbar::-webkit-scrollbar {

    width:6px
}

/* scrollbar itself */
.scrollbar::-webkit-scrollbar-thumb {
    border-radius:16px;
    border:6px solid #ffffff91
}
.scrollbar::-webkit-scrollbar-thumb:hover {
    border:9px solid #ffffff91
}

/* set button(top and bottom of the scrollbar) */
.scrollbar::-webkit-scrollbar-button {display:none}

/* div box */
body{background-color:#babac0}
.scrollbar {
    height: 98%;
    min-width: 150px;
    overflow-y: scroll}
.overflow{min-height: 100vh}